
# Environments
venv/
venv2/


# Data directories
data/*.pdf
data/4Manuel_MODS.xml
data/actual-data/
data/design-data100/
data/results-artifacts/

img/
data/student-data/
data/test-download/
data/caption-tests/
vector/
*.html

# notes
dev/

# Python
*/__pycache__/
*/*/__pycache__/
src/*.egg-info
