
# Environments
venv/

# Compiled source
docs/build/
dist/
docs/_build/

# Data directories

data/4Manuel_MODS.xml
data/actual-data/
data/design-data100/
data/results-artifacts/
data/tmp/
data/detect/
data/ocr-test/
dinov2-test/*

img/
./data/
vector/
*.html

# notes
dev/

# Python
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
src/*.egg-info
